*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family;
  list-style: none;
}
html {
	font-size: 62.5%;
	font-family: $font-family;
}
body {
	background-color: $color-neutral-white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

.container{
  width: 130rem;
  padding: 9.6rem;
  margin: 0 auto;
  &-fluid{
    width: 135rem;
    padding: 3.2rem;
    margin: 0 auto;
    //margin-inline: auto;
  }
}

.attribution {
	font-size: 1.1rem;
	text-align: center;
	& a {
		color: hsl(228, 45%, 44%);
	}
}
