.header {
	border-bottom: 3px solid $color-neutral-light-grayish-blue;
	position: relative;
}
.cart{
	display: block;
	position: absolute;
	right: 10%;
	bottom: -100%;
	width: 20rem;
	background-color: $color-primary-pale-orange;
	padding: 2.4rem;
	&__title{
		font-size: $font-size-paragraph;
		border-bottom: $color-neutral-grayish-blue 2px solid;
		//padding: 2.4rem;
		padding-bottom: 1.4rem;
		margin-bottom: 1.4rem;
	}
}
.display-cart-popup{
	display: block;
}